@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Montserrat', sans-serif;
}

.redbtn{
  background-color: rgb(240, 64, 64);
  color:aliceblue;
  margin-left: 15px;
  width: 50px;
 
}

.checked{
margin-right: 15px;
width: 30px;
}

.div-incomplete{
  background-color: rgb(243, 138, 138);
  margin: 25px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 28px;
  padding: 25px;
}

.div-complete{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(102, 255, 102);
  margin: 25px 20px;
  font-weight: 400;
  font-size: 28px;
  padding: 35px;
}