@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Montserrat', sans-serif;
}

.redbtn{
  background-color: rgb(240, 64, 64);
  color:aliceblue;
  margin-left: 15px;
  width: 50px;
 
}

.checked{
margin-right: 15px;
width: 30px;
height: 25px;
width: 25px;
background-color: #eee;
}

.div-incomplete{

  margin: 25px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 28px;
  padding: 25px;
  border:2px solid black
}

.div-complete{
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid black;
  margin: 25px 20px;
  font-weight: 400;
  font-size: 28px;
  padding: 25px;
}